.section {
    min-height: 100vh;
    padding: 56px 0 0 0;
    text-align: center;
    align-items: center;
}

.carousel-item {
    max-height: 100vh;
}

.carousel-item::after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(10,41,73,0.3);
}

#services {
      background-color: #001F3F;
      color: #FFFFFF;
}

#cars {
    background-color: #164473;
    color: #f0f0f0;
    border: solid 3px #001f3f;
    transition: background-color 0.3s ease, transform 0.3s ease;
    justify-content: space-between;
}

#cars:hover {
    background-color: #0A2949;
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
  
#contact {
      background-color: #001F3F; /*0A2949*/
      color: #FFFFFF;
}
#contactform {
    background-color: #164473;
}
#branches {
      background-color: #001F3F;
      color: #FFFFFF;
}
#about {
    background-color: #001F3F;
    color: #FFFFFF;
}
.btn {
    background-color: #001F3F;
    color: #f0f0f0;
    border: none;
}
.btn:hover {
    background-color: #164473;
}
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #0A2949;
    color: #f0f0f0;
    border: solid 1px #f0f0f0;
}
footer {
    background-color: #0A2949;
}
.navbar {
    background-color: rgba(0,31,63, 0.9);
}
.navbar-nav .nav-link {
    transition: color 0.3s ease;
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    border-radius: 5px;
    background-color: #0A2949;
    color: #ffffff;
}
